
.main {
  font-size: 12px;
  background-color: white;

}

thead {
  background-color: #4175ef;
  color: white;
  width: 100%;

}

.btn:hover {
  text-decoration: none;

}

.users {
  table-layout: fixed;
  width: 80%;
  white-space: nowrap;
}
/* Column widths are based on these cells */


.row-name {
  width: 10%;
}

app-header {
  background-color: #454444;
}


  .src {
    margin-bottom: 205px;

  }



