<div class="" style="background-color: lightblue;">
  <div class="">
    <div class="">
      <div class="">
        <div class="card">
          <div class="card-header">
            <!--Specialist Assessment & Reports-->
            <strong>Specialist Assessment & Reports</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="container">
              <div class="form-group row"></div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Visual Acuity</label>
                <div class="col-md-9">
                  <select id="select3" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RELE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">With Pinhole</label>
                <div class="col-md-9">
                  <select id="select3" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select7">Glasses</label>
                <div class="col-md-9">
                  <select id="select7" name="select7" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select8">Contact Lens</label>
                <div class="col-md-9">
                  <select id="select8" name="select8" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select8">Color Test</label>
                <div class="col-md-9">
                  <select id="select8" name="select8" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Normal</option>
                    <option value="2">Abnormal</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select7">Clavicle</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
          </div>
        </div>
        <!--Specialist Assessment & Reports-->
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Specialist Assessment & Reports</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="container">
          <div class="form-group row"></div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3">Visual Acuity</label>
            <div class="col-md-9">
              <select id="select3" name="select3" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">RELE</option>
                <option value="2">LE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3">With Pinhole</label>
            <div class="col-md-9">
              <select id="select3" name="select3" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">RE</option>
                <option value="2">LE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select7">Glasses</label>
            <div class="col-md-9">
              <select id="select7" name="select7" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">RE</option>
                <option value="2">LE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select8">Contact Lens</label>
            <div class="col-md-9">
              <select id="select8" name="select8" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">RE</option>
                <option value="2">LE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select8">Color Test</label>
            <div class="col-md-9">
              <select id="select8" name="select8" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">Normal</option>
                <option value="2">Abnormal</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select7">Clavicle</label>
            <div class="col-md-9">
              <select id="select7" name="select3" class="form-control form-control">
                <option value="0">Please select</option>
                <option value="1">Right</option>
                <option value="2">Left</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
