<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          title
        </div>
        <div class="card-body">
          king king  , king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          king king  , king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
        </div>
        <div class="card-footer">footer</div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>icon
        </div>
        <div class="card-body">
          king king  , king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
          king king
        </div>
      </div>
    </div><!--/.col-->

</div>
