<div class="main-content" style="background-color: lightblue;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong>Specialist Assessment & Reports</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row"></div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Visual Acuity</label>
                <div class="col-md-9">
                  <select id="select3" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RELE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">With Pinhole</label>
                <div class="col-md-9">
                  <select id="select3" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select7">Glasses</label>
                <div class="col-md-9">
                  <select id="select7" name="select7" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select8">Contact Lens</label>
                <div class="col-md-9">
                  <select id="select8" name="select8" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">RE</option>
                    <option value="2">LE</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select8">Color Test</label>
                <div class="col-md-9">
                  <select id="select8" name="select8" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Normal</option>
                    <option value="2">Abnormal</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select7">Clavicle</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">ntraoccular Pressure</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">OD (RE)</option>
                    <option value="2">OS (LE)</option>
                    <option value="3">Normal Intraocular Pressure</option>
                    <option value="4">Abnormal Intraocular Pressure</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Cervical Spine</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Cervical Spine 2-3 Views">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Lid</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Lid">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Conjunctiva</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Conjunctiva">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Cornea</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Cornea">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Lens</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Lens">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Fundus</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Fundus">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Diagnosis</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Fundus">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Conjunctivitis</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Cataract</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Glaucoma</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Pinguecula</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Pterygium</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Astigmatism</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Mild Dry Eye</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Refractive error presbyopia (far-sighted)</label>
                <div class="col-md-9">
                  <select id="select7" name="select3" class="form-control form-control">
                    <option value="0">Please select</option>
                    <option value="1">Right</option>
                    <option value="2">Left</option>
                    <option value="3">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Recommendation</label>
                <div class="col-md-9">
                  <ng-multiselect-dropdown [placeholder]="'Please select'" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>
        <!--Physical Examination-->
      </div>
    </div>
  </div>
</div>
