// Variable overrides
// Master menu country

$navbar-brand-width: 230px !default;
$sidebar-width: 280px !default;

/*
app-sidebar {
  app-sidebar-nav {
 
    background-color: red !important;
  }
}
app-sidebar-minimizer {
      background-color: red !important;
    }

*/

